<configuration>
    <bot>
        <nick>QwoBot</nick>
    </bot>
    <options>
        <autoReconnect>true</autoReconnect>
        <verbose>true</verbose>
    </options>
    <server>
        <host>irc.example.com</host>
        <port>6667</port>
        <channel>
            <name>#qwobot</name>
        </channel>
    </server>
</configuration>